body * {
    box-sizing: border-box;
    
}

body {
    
    font-family: 'IBM Plex Serif', serif;
    
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/
section {
    border: solid 1px rgb(196, 188, 188);
    width:36vh;
    height: 65vh;
    padding:10px;
    margin:10pm;
    display: inline-block;
}

img {
    width: 35vh;
    margin-left: -8px;
}
/* Tablet Media Query */
@media only screen and (max-width: 1000px) {

}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {

    
}